<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

	<link rel="stylesheet" href="/Content/Custom.css">
	<link rel="stylesheet" href="/Content/bootstrap.css">

	<script src="/Scripts/Custom.js" type="text/javascript"></script>
	<script src="/Scripts/jquery.min.js" type="text/javascript"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
