@using System.Collections.Generic
@using Yoloswag

@model IEnumerable<Message>
	
@{
	this.Layout = "../Shared/_Layout.cshtml";
}

<form method="post" action="/Home/Generate">
	<input type="text" name="bots" id="bots" placeholder="bots">
	<input type="text" name="length" id="length" placeholder="length">
	<input type="submit">
</form>

<hr>
<h1 class="center">Yolo, Swag.</h1>
@foreach(Message m in Model) 
{
	<div class="chatMessage" >
		<div class="chatAuthor">
			@m.Author.Name
		</div>
		<div class="chatBody">
			@m.Content
		</div>
	</div>
	<br>
}